{% extends 'base.html.twig' %}

{% block title %}Trade center{% endblock %}

{% block body %}

    <section class="trade">
        <div class="trade-leyout ">
            <div class="trade-left">
                <div id="chartdiv"></div>
                <section class="row exhcanger_row">
                    <div class="exchanger_block">
                      <div class="trade-order-box is-left">
                        <exchange-trade-orderbook>
                            <div id="market_stat">
                                <div class="market_stat_wrapper">
                                    <div class="section_tab_wrapper">
                                        <exchange-trade-orderbook-unit>
                                            <div id="order_unit_section">
                                                <div class="switch-wrapper">
                                                    <label for="order_unit" class="switch-label"> Group </label>
                                                    <!---->
                                                    <!---->
                                                    <div class="switch">
                                                        <input class="switch-input" id="order_unit" type="checkbox">
                                                        <label class="switch-label-ui" for="order_unit"> Group asking price switch </label>
                                                    </div>
                                                    <label class="switch-label unit_price click_order_mobile_xs_off_wrapper" for="order_unit"><span class="click_order_off_wrapper hidden-xs"> Current asking price unit </span><strong>1000</strong></label>
                                                    <!---->
                                                </div>
                                            </div>
                                        </exchange-trade-orderbook-unit>
                                        <exchange-trade-orderbook-quick><span class="click_order_on_wrapper pull-right"><span class="hidden"><form autocomplete="off" class="form-inline click_order_form ng-untouched ng-pristine ng-valid" novalidate=""><input class="input_type_btc" id="click_order_volume" type="number" style="color: black;"><input class="input_radio normal_order_click ng-untouched ng-pristine ng-valid" formcontrolname="clickOrderType" id="normal_order" name="clickOrderType" type="radio"><label class="normal_order_click color_blue" for="normal_order">Order</label><input class="input_radio cancel_order_click ng-untouched ng-pristine ng-valid" formcontrolname="clickOrderType" id="cancel_order" name="clickOrderType" type="radio"><label class="cancel_order_click color_krw" for="cancel_order">Cancel</label></form></span><span class="tab_right_btn btn-line-sky btn-xs pull-right" id="click_order_off_button"><span>Click Order</span></span>
                                            </span>
                                        </exchange-trade-orderbook-quick>
                                        <exchange-trade-orderbook-expand><span class="click_order_off_wrapper"><span class="hidden-xss-lg tab_right_btn btn-line-sky btn-xs pull-right hidden-xss no-active btn-line" id="orderbook_mobile_expand_btn"> Expand asking price </span></span>
                                        </exchange-trade-orderbook-expand>
                                        <div class="cb"></div>
                                    </div>
                                </div>
                                <div id="market_stat_table_wrapper">
                                    <exchange-trade-orderbook-walls>
                                        <table class="table" id="orderbook_table">
                                            <thead>
                                                <tr>
                                                    <th class="left color_sell">Order sell</th>
                                                    <th class="color_sell">Sell Amount</th>
                                                    <th>Price</th>
                                                    <th class="color_buy">Buy Amount</th>
                                                    <th class="right color_buy">My Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!---->
                                                <tr class="tb_sell" id="ask_9">
                                                    <!---->
                                                    <!---->
                                                    <td class="ask td_ask_order">
                                                        <!----><span></span></td>
                                                    <td class="ask qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 3.3%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">0</span><span class="volume volume-decimal">.3131</span></ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="left"></div>
                                                        </div>
                                                    </td>
                                                    <td class="ask orderprice selectable">4,705,000</td>
                                                    <td class="empty_qty"></td>
                                                    <td class="ask td_bid_order"><span></span></td>
                                                </tr>
                                                <tr class="tb_sell" id="ask_8">
                                                    <!---->
                                                    <!---->
                                                    <td class="ask td_ask_order">
                                                        <!----><span></span></td>
                                                    <td class="ask qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 0.03%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">0</span><span class="volume volume-decimal">.0034</span></ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="left"></div>
                                                        </div>
                                                    </td>
                                                    <td class="ask orderprice selectable">4,702,000</td>
                                                    <td class="empty_qty"></td>
                                                    <td class="ask td_bid_order"><span></span></td>
                                                </tr>
                                                <tr class="tb_sell" id="ask_7">
                                                    <!---->
                                                    <!---->
                                                    <td class="ask td_ask_order">
                                                        <!----><span></span></td>
                                                    <td class="ask qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 10.55%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">1</span><span class="volume volume-decimal">.0<span class="dimmed-zero">000</span></span>
                                                            </ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="left"></div>
                                                        </div>
                                                    </td>
                                                    <td class="ask orderprice selectable">4,701,000</td>
                                                    <td class="empty_qty"></td>
                                                    <td class="ask td_bid_order"><span></span></td>
                                                </tr>
                                                <tr class="tb_sell" id="ask_6">
                                                    <!---->
                                                    <!---->
                                                    <td class="ask td_ask_order">
                                                        <!----><span></span></td>
                                                    <td class="ask qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 100%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">9</span><span class="volume volume-decimal">.4757</span></ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="left"></div>
                                                        </div>
                                                    </td>
                                                    <td class="ask orderprice selectable">4,700,000</td>
                                                    <td class="empty_qty"></td>
                                                    <td class="ask td_bid_order"><span></span></td>
                                                </tr>
                                                <tr class="tb_sell" id="ask_5">
                                                    <!---->
                                                    <!---->
                                                    <td class="ask td_ask_order">
                                                        <!----><span></span></td>
                                                    <td class="ask qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 5.57%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">0</span><span class="volume volume-decimal">.5285</span></ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="left"></div>
                                                        </div>
                                                    </td>
                                                    <td class="ask orderprice selectable">4,699,000</td>
                                                    <td class="empty_qty"></td>
                                                    <td class="ask td_bid_order"><span></span></td>
                                                </tr>
                                                <tr class="tb_sell" id="ask_4">
                                                    <!---->
                                                    <!---->
                                                    <td class="ask td_ask_order">
                                                        <!----><span></span></td>
                                                    <td class="ask qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 4.01%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">0</span><span class="volume volume-decimal">.3804</span></ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="left"></div>
                                                        </div>
                                                    </td>
                                                    <td class="ask orderprice selectable">4,698,000</td>
                                                    <td class="empty_qty"></td>
                                                    <td class="ask td_bid_order"><span></span></td>
                                                </tr>
                                                <tr class="tb_sell" id="ask_3">
                                                    <!---->
                                                    <!---->
                                                    <td class="ask td_ask_order">
                                                        <!----><span></span></td>
                                                    <td class="ask qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 11.33%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">1</span><span class="volume volume-decimal">.0744</span></ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="left"></div>
                                                        </div>
                                                    </td>
                                                    <td class="ask orderprice selectable">4,697,000</td>
                                                    <td class="empty_qty"></td>
                                                    <td class="ask td_bid_order"><span></span></td>
                                                </tr>
                                                <tr class="tb_sell" id="ask_2">
                                                    <!---->
                                                    <!---->
                                                    <td class="ask td_ask_order">
                                                        <!----><span></span></td>
                                                    <td class="ask qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 1.45%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">0</span><span class="volume volume-decimal">.1375</span></ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="left"></div>
                                                        </div>
                                                    </td>
                                                    <td class="ask orderprice selectable">4,696,000</td>
                                                    <td class="empty_qty"></td>
                                                    <td class="ask td_bid_order"><span></span></td>
                                                </tr>
                                                <tr class="tb_sell" id="ask_1">
                                                    <!---->
                                                    <!---->
                                                    <td class="ask td_ask_order">
                                                        <!----><span></span></td>
                                                    <td class="ask qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 42.21%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">4</span><span class="volume volume-decimal">.0<span class="dimmed-zero">000</span></span>
                                                            </ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="left"></div>
                                                        </div>
                                                    </td>
                                                    <td class="ask orderprice selectable">4,695,000</td>
                                                    <td class="empty_qty"></td>
                                                    <td class="ask td_bid_order"><span></span></td>
                                                </tr>
                                                <!---->
                                                <tr class="tb_buy" id="bid_1">
                                                    <!---->
                                                    <!---->
                                                    <td class="bid td_ask_order"><span></span></td>
                                                    <td class="empty_qty"></td>
                                                    <td class="bid orderprice selectable active">4,694,000</td>
                                                    <td class="bid qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 8.8%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">0</span><span class="volume volume-decimal">.8346</span></ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="right"></div>
                                                        </div>
                                                    </td>
                                                    <td class="bid td_bid_order">
                                                        <!----><span></span></td>
                                                </tr>
                                                <tr class="tb_buy" id="bid_2">
                                                    <!---->
                                                    <!---->
                                                    <td class="bid td_ask_order"><span></span></td>
                                                    <td class="empty_qty"></td>
                                                    <td class="bid orderprice selectable">4,692,000</td>
                                                    <td class="bid qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 2.11%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">0</span><span class="volume volume-decimal">.2<span class="dimmed-zero">000</span></span>
                                                            </ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="right"></div>
                                                        </div>
                                                    </td>
                                                    <td class="bid td_bid_order">
                                                        <!----><span></span></td>
                                                </tr>
                                                <tr class="tb_buy" id="bid_3">
                                                    <!---->
                                                    <!---->
                                                    <td class="bid td_ask_order"><span></span></td>
                                                    <td class="empty_qty"></td>
                                                    <td class="bid orderprice selectable">4,691,000</td>
                                                    <td class="bid qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 3.14%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">0</span><span class="volume volume-decimal">.2984</span></ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="right"></div>
                                                        </div>
                                                    </td>
                                                    <td class="bid td_bid_order">
                                                        <!----><span></span></td>
                                                </tr>
                                                <tr class="tb_buy" id="bid_4">
                                                    <!---->
                                                    <!---->
                                                    <td class="bid td_ask_order"><span></span></td>
                                                    <td class="empty_qty"></td>
                                                    <td class="bid orderprice selectable">4,690,000</td>
                                                    <td class="bid qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 3.95%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">0</span><span class="volume volume-decimal">.3745</span></ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="right"></div>
                                                        </div>
                                                    </td>
                                                    <td class="bid td_bid_order">
                                                        <!----><span></span></td>
                                                </tr>
                                                <tr class="tb_buy" id="bid_5">
                                                    <!---->
                                                    <!---->
                                                    <td class="bid td_ask_order"><span></span></td>
                                                    <td class="empty_qty"></td>
                                                    <td class="bid orderprice selectable">4,689,000</td>
                                                    <td class="bid qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 3.77%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">0</span><span class="volume volume-decimal">.3581</span></ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="right"></div>
                                                        </div>
                                                    </td>
                                                    <td class="bid td_bid_order">
                                                        <!----><span></span></td>
                                                </tr>
                                                <tr class="tb_buy" id="bid_6">
                                                    <!---->
                                                    <!---->
                                                    <td class="bid td_ask_order"><span></span></td>
                                                    <td class="empty_qty"></td>
                                                    <td class="bid orderprice selectable">4,688,000</td>
                                                    <td class="bid qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 4.53%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">0</span><span class="volume volume-decimal">.43<span class="dimmed-zero">00</span></span>
                                                            </ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="right"></div>
                                                        </div>
                                                    </td>
                                                    <td class="bid td_bid_order">
                                                        <!----><span></span></td>
                                                </tr>
                                                <tr class="tb_buy" id="bid_7">
                                                    <!---->
                                                    <!---->
                                                    <td class="bid td_ask_order"><span></span></td>
                                                    <td class="empty_qty"></td>
                                                    <td class="bid orderprice selectable">4,685,000</td>
                                                    <td class="bid qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 3.05%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">0</span><span class="volume volume-decimal">.2896</span></ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="right"></div>
                                                        </div>
                                                    </td>
                                                    <td class="bid td_bid_order">
                                                        <!----><span></span></td>
                                                </tr>
                                                <tr class="tb_buy" id="bid_8">
                                                    <!---->
                                                    <!---->
                                                    <td class="bid td_ask_order"><span></span></td>
                                                    <td class="empty_qty"></td>
                                                    <td class="bid orderprice selectable">4,684,000</td>
                                                    <td class="bid qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 0.37%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">0</span><span class="volume volume-decimal">.0356</span></ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="right"></div>
                                                        </div>
                                                    </td>
                                                    <td class="bid td_bid_order">
                                                        <!----><span></span></td>
                                                </tr>
                                                <tr class="tb_buy" id="bid_9">
                                                    <!---->
                                                    <!---->
                                                    <td class="bid td_ask_order"><span></span></td>
                                                    <td class="empty_qty"></td>
                                                    <td class="bid orderprice selectable">4,683,000</td>
                                                    <td class="bid qty selectable">
                                                        <div class="inner">
                                                            <div class="bar event-thru" style="width: 0.37%;"></div>
                                                            <ui-divided-number><span class="volume volume-int">0</span><span class="volume volume-decimal">.0356</span></ui-divided-number>
                                                            <div class="orderbook-tooltip-parent" container="body" placement="right"></div>
                                                        </div>
                                                    </td>
                                                    <td class="bid td_bid_order">
                                                        <!----><span></span></td>
                                                </tr>
                                            </tbody>
                                            <tbody class="orderbook_footer">
                                                <tr>
                                                    <td class="right sum_ask" colspan="2" title="Total sales residuals"><span>16.913<span class="dimmed-zero">0</span></span>
                                                    </td>
                                                    <td class="sum_label">Total</td>
                                                    <td class="left sum_bid" colspan="2" title="Total buy residuals"><span>2.8564</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!---->
                                        <!---->
                                    </exchange-trade-orderbook-walls>
                                    <exchange-trade-orderbook-price>
                                        <div class="market_info_wrapper">
                                            <div class="orderbook_bg_icon"><span class="glyph-coin-btc"></span></div>
                                            <table class="table margin_bottom_0">
                                                <!---->
                                                <tbody>
                                                    <tr>
                                                        <td class="left info_label"> Current </td>
                                                        <td class="right font_bold"><span>4,694,000</span></td>
                                                    </tr>
                                                    <tr class="click_order_mobile_xs_s_off_wrapper">
                                                        <td class="left info_label"> Close </td>
                                                        <td class="right"><span>4,662,000</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left info_label"> Change </td>
                                                        <td class="right price_up"><span><span class="hidden-xxs"> + <span>32,000</span><span class="font_light fc-aaa">/</span></span> +0.69% </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left info_label"> High </td>
                                                        <td class="right"><span>4,699,000</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left info_label"> Low </td>
                                                        <td class="right"><span>4,630,000</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left info_label"> Transaction amount </td>
                                                        <td class="right">
                                                            <ui-million-number>
                                                                <!----><span>2,047</span><span>m</span>
                                                                <!---->
                                                            </ui-million-number>
                                                            <div class="gray">
                                                                <div title="Volume">439.65</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </exchange-trade-orderbook-price>
                                    <exchange-trade-orderbook-logs>
                                        <div class="real_time_transaction_table_wrapper" id="real_time_transaction">
                                            <input id="num_trades" type="hidden" value="10">
                                            <div class="real_time_transaction_table">
                                                <table class="table margin_bottom_0">
                                                    <thead>
                                                        <tr>
                                                            <th class="left">Trade Price</th>
                                                            <th class="right">Trade Amount</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                                <div class="real_time_transaction_table_scroll_wrapper">
                                                    <table class="table margin_bottom_0">
                                                        <tbody id="real_time_transaction_body">
                                                            <!---->
                                                            <tr class="price_down">
                                                                <td class="left"><span class="tooltip_time" container="body" placement="right">4,694,000</span></td>
                                                                <td class="right"><span class="tooltip_time" container="body" placement="left">0.1089</span></td>
                                                            </tr>
                                                            <tr class="price_down">
                                                                <td class="left"><span class="tooltip_time" container="body" placement="right">4,694,000</span></td>
                                                                <td class="right"><span class="tooltip_time" container="body" placement="left">0.0498</span></td>
                                                            </tr>
                                                            <tr class="price_down">
                                                                <td class="left"><span class="tooltip_time" container="body" placement="right">4,694,000</span></td>
                                                                <td class="right"><span class="tooltip_time" container="body" placement="left">0.1244</span></td>
                                                            </tr>
                                                            <tr class="price_down">
                                                                <td class="left"><span class="tooltip_time" container="body" placement="right">4,694,000</span></td>
                                                                <td class="right"><span class="tooltip_time" container="body" placement="left">0.3132</span></td>
                                                            </tr>
                                                            <tr class="price_down">
                                                                <td class="left"><span class="tooltip_time" container="body" placement="right">4,694,000</span></td>
                                                                <td class="right"><span class="tooltip_time" container="body" placement="left">0.5583</span></td>
                                                            </tr>
                                                            <tr class="price_down">
                                                                <td class="left"><span class="tooltip_time" container="body" placement="right">4,695,000</span></td>
                                                                <td class="right"><span class="tooltip_time" container="body" placement="left">0.1742</span></td>
                                                            </tr>
                                                            <tr class="price_down">
                                                                <td class="left"><span class="tooltip_time" container="body" placement="right">4,694,000</span></td>
                                                                <td class="right"><span class="tooltip_time" container="body" placement="left">0.2325</span></td>
                                                            </tr>
                                                            <tr class="price_up">
                                                                <td class="left"><span class="tooltip_time" container="body" placement="right">4,691,000</span></td>
                                                                <td class="right"><span class="tooltip_time" container="body" placement="left">0.1727</span></td>
                                                            </tr>
                                                            <tr class="price_down">
                                                                <td class="left"><span class="tooltip_time" container="body" placement="right">4,691,000</span></td>
                                                                <td class="right"><span class="tooltip_time" container="body" placement="left">0.0001</span></td>
                                                            </tr>
                                                            <tr class="price_up">
                                                                <td class="left"><span class="tooltip_time" container="body" placement="right">4,691,000</span></td>
                                                                <td class="right"><span class="tooltip_time" container="body" placement="left">0.2985</span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!---->
                                                </div>
                                            </div>
                                        </div>
                                    </exchange-trade-orderbook-logs>
                                </div>
                            </div>
                        </exchange-trade-orderbook>
                      </div>
                    </div>
                    <div class="exchanger_block __buy_sell_block sell">
                        <div id="order">
                            <div class="exchanger-tabs">
                                <div class="item __sell sell_tab">Sell</div>
                                <div class="item item__blue __buy buy_tab">Buying</div>
                            </div>
                            <div class="order_wrp">
                              <div>
                                  <div class="row">
                                      <div class="col-6">Order Quantity (BTC)</div>
                                      <input class="col-5 order_input" type="number">
                                  </div>
                                  <div class="row">
                                      <div class="col-6">Order Price (KRW)</div>
                                      <input  type="number" class="col-5 order_input">
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-9">Order amount</div>
                                  <div class="col-3">0 KRW</div>
                              </div>
                              <div class="row">
                                  <div class="col-9">fees</div>
                                  <div class="col-3">0 BTC</div>
                              </div>
                              <div class="row">
                                  <div class="col-9">Total purchase amount (approx.)</div>
                                  <div class="col-3">0 BTC</div>
                              </div>

                              <div>
                                  <button class="btn btn-lg col-12 btn-danger sell_btn">Sell</button>
                                  <button class="btn btn-lg col-12 btn-primary buy_btn">Buy</button>
                              </div>
                            </div>

                        </div>

                        <div class="trade-unsigned-order-box">
                          <p class="trade-unsigned-order-title"> Active <span class="hidden-xs">Order</span></p>
                          <div class="trade-unsigned-order-content is-btc">
                              <table class="trade-unsigned-order-tbl">
                                  <thead>
                                      <tr>
                                          <th class="order-time sortable-head"> Time <span class="sortable-icon sort-desc-active"></span></th>
                                          <th class="order-side sortable-head"> Status <span class="sortable-icon"></span></th>
                                          <th class="order-price sortable-head"> Price <span class="sortable-icon"></span></th>
                                          <th class="order-amount-remaining sortable-head"> Remaining Amount <span class="sortable-icon"></span></th>
                                          <th class="order-amount-total sortable-head"> Total Amount <span class="sortable-icon"></span></th>
                                          <th class="cancel-order"> Cancel </th>
                                      </tr>
                                  </thead>
                              </table>
                              <div class="order-table-scroll-box">
                                  <table class="trade-unsigned-order-tbl">
                                      <!---->
                                      <!---->
                                      <tbody>
                                          <tr>
                                              <td class="order-table-no-result" colspan="6">
                                                  <a class="no-result-link">
                                                      <p>To start your transaction, <strong>sign in</strong>.</p>
                                                  </a>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                              <div class="order_list_footer"><span class="pull-right list_fold_btn"> Expand <span class="glyph-ui-chevron-down"></span></span>
                              </div>
                          </div>
                      </div>
                    </div>
                </section>
                <div class="col-12">
                  <div class="section trade-order-history-section ">
                    <p class="section-head signed-order-title"> Trade History </p>
                    <!---->
                    <article class="section-article">
                        <div class="trade-order-history is-wide">
                            <table class="trade-signed-order-tbl">
                                <thead>
                                    <tr>
                                        <th class="order-time"><span>Time</span></th>
                                        <th class="order-side"><span>Status</span></th>
                                        <th class="order-price"><span>Price</span><small class="volume-unit fc-999">KRW</small></th>
                                        <th class="order-amount"><span>Amount</span><small class="volume-unit fc-999">BTC</small></th>
                                        <th class="order-amount-price hidden-xs-s"><span>Amount</span><small class="volume-unit fc-999">KRW</small></th>
                                        <th class="order-fee"><span>Fees</span></th>
                                        <th class="right order-total-amount hidden-xxs"><span>Total</span></th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="order-table-scroll-box">
                                <table class="trade-signed-order-tbl">
                                    <!---->
                                    <!---->
                                    <tbody>
                                        <tr>
                                            <td class="order-table-no-result" colspan="7">
                                                <a class="no-result-link">
                                                    <p>To start your transaction, <strong>sign in</strong>.</p>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="clear-fix">
                            <p class="list_footer_info"><span uilink="">You can see the full transactions in <a href="/balance/transaction_history/">'Transactions'</a> page.</span>
                                <br>
                            </p><span class="pull-right list_fold_btn"> Expand <span class="glyph-ui-chevron-down"></span></span>
                        </div>
                    </article>
                </div>
                </div>

            </div>
            <div class="trade-right">
                <table class="table table-bordered trade2">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Change</th>
                        <th scope="col">Volume</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span class="font-weight-bold">BTC</span></td>
                        <td class="color-blue">4,684,000</td>
                        <td class="color-blue">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">ETH</span></td>
                        <td class="color-red">131,800</td>
                        <td class="color-red">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">XRP</span></td>
                        <td class="color-blue">4,684,000</td>
                        <td class="color-blue">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">BTC</span></td>
                        <td class="color-blue">4,684,000</td>
                        <td class="color-blue">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">ETH</span></td>
                        <td class="color-red">131,800</td>
                        <td class="color-red">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">XRP</span></td>
                        <td class="color-blue">4,684,000</td>
                        <td class="color-blue">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">BTC</span></td>
                        <td class="color-blue">4,684,000</td>
                        <td class="color-blue">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">ETH</span></td>
                        <td class="color-red">131,800</td>
                        <td class="color-red">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">XRP</span></td>
                        <td class="color-blue">4,684,000</td>
                        <td class="color-blue">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">BTC</span></td>
                        <td class="color-blue">4,684,000</td>
                        <td class="color-blue">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">ETH</span></td>
                        <td class="color-red">131,800</td>
                        <td class="color-red">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">XRP</span></td>
                        <td class="color-blue">4,684,000</td>
                        <td class="color-blue">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">BTC</span></td>
                        <td class="color-blue">4,684,000</td>
                        <td class="color-blue">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">ETH</span></td>
                        <td class="color-red">131,800</td>
                        <td class="color-red">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">XRP</span></td>
                        <td class="color-blue">4,684,000</td>
                        <td class="color-blue">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">ETH</span></td>
                        <td class="color-red">131,800</td>
                        <td class="color-red">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">XRP</span></td>
                        <td class="color-blue">4,684,000</td>
                        <td class="color-blue">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">ETH</span></td>
                        <td class="color-red">131,800</td>
                        <td class="color-red">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">XRP</span></td>
                        <td class="color-blue">4,684,000</td>
                        <td class="color-blue">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">ETH</span></td>
                        <td class="color-red">131,800</td>
                        <td class="color-red">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    <tr>
                        <td><span class="font-weight-bold">XRP</span></td>
                        <td class="color-blue">4,684,000</td>
                        <td class="color-blue">-0.93%</td>
                        <td>4,413m</td>
                    </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </d>



    <script src="//www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="//www.amcharts.com/lib/3/serial.js"></script>
    <script src="//www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="//www.amcharts.com/lib/3/amstock.js"></script>

    <script>
        var chartData = [];
        generateChartData();


        function generateChartData() {
            var firstDate = new Date();
            firstDate.setHours(0, 0, 0, 0);
            firstDate.setDate(firstDate.getDate() - 2000);

            for (var i = 0; i < 2000; i++) {
                var newDate = new Date(firstDate);

                newDate.setDate(newDate.getDate() + i);

                var open = Math.round(Math.random() * (30) + 100);
                var close = open + Math.round(Math.random() * (15) - Math.random() * 10);

                var low;
                if (open < close) {
                    low = open - Math.round(Math.random() * 5);
                } else {
                    low = close - Math.round(Math.random() * 5);
                }

                var high;
                if (open < close) {
                    high = close + Math.round(Math.random() * 5);
                } else {
                    high = open + Math.round(Math.random() * 5);
                }

                var volume = Math.round(Math.random() * (1000 + i)) + 100 + i;

                var value = Math.round(Math.random() * (30) + 100);

                chartData[i] = ({
                    "date": newDate,
                    "open": open,
                    "close": close,
                    "high": high,
                    "low": low,
                    "volume": volume,
                    "value": value
                });
            }
        }

        var chart = AmCharts.makeChart("chartdiv", {
            "type": "stock",
            "theme": "light",

            "dataSets": [{
                "fieldMappings": [{
                    "fromField": "open",
                    "toField": "open"
                }, {
                    "fromField": "close",
                    "toField": "close"
                }, {
                    "fromField": "high",
                    "toField": "high"
                }, {
                    "fromField": "low",
                    "toField": "low"
                }, {
                    "fromField": "volume",
                    "toField": "volume"
                }, {
                    "fromField": "value",
                    "toField": "value"
                }],

                "color": "#7f8da9",
                "dataProvider": chartData,
                "title": "West Stock",
                "categoryField": "date"
            }, {
                "fieldMappings": [{
                    "fromField": "value",
                    "toField": "value"
                }],
                "color": "#fac314",
                "dataProvider": chartData,
                "compared": true,
                "title": "East Stock",
                "categoryField": "date"
            }],


            "panels": [{
                "title": "Value",
                "showCategoryAxis": false,
                "percentHeight": 70,
                "valueAxes": [{
                    "dashLength": 5
                }],

                "categoryAxis": {
                    "dashLength": 5
                },

                "stockGraphs": [{
                    "type": "candlestick",
                    "id": "g1",
                    "openField": "open",
                    "closeField": "close",
                    "highField": "high",
                    "lowField": "low",
                    "valueField": "close",
                    "lineColor": "#000",
                    "fillColors": "#3882ff",
                    "negativeLineColor": "#000",
                    "negativeFillColors": "#ff4328",
                    "lineAlpha": 1,
                    "fillAlphas": 1,
                    "useDataSetColors": false,
                    "comparable": true,
                    "compareField": "value",
                    "showBalloon": false
                }],

                "stockLegend": {
                    "valueTextRegular": undefined,
                    "periodValueTextComparing": "[[percents.value.close]]%",
                    "useGraphSettings": true
                }
            },

                {
                    "title": "Volume",
                    "percentHeight": 30,
                    "marginTop": 1,
                    "showCategoryAxis": true,
                    "valueAxes": [{

                        "dashLength": 5
                    }],

                    "categoryAxis": {
                        "dashLength": 5
                    },

                    "stockGraphs": [{
                        "valueField": "volume",
                        "type": "column",
                        "showBalloon": false,
                        "fillAlphas": 1
                    }],

                    "stockLegend": {
                        "markerType": "none",
                        "markerSize": 0,
                        "labelText": "",
                        "periodValueTextRegular": "[[value.close]]"
                    }
                }
            ],

            "chartScrollbarSettings": {

                "graph": "g1",
                "graphType": "line",
                "usePeriod": "WW"
            },

            "periodSelector": {
                "position": "bottom",
                "periods": [{
                    "period": "DD",
                    "count": 10,
                    "label": "10 days"
                }, {
                    "period": "MM",
                    "selected": true,
                    "count": 1,
                    "label": "1 month"
                }, {
                    "period": "YYYY",
                    "count": 1,
                    "label": "1 year"
                }, {
                    "period": "YTD",
                    "label": "YTD"
                }, {
                    "period": "MAX",
                    "label": "MAX"
                }]
            }
        });
    </script>

{% endblock %}
