{% extends 'base.html.twig' %}
{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block body %}
		
		<div id="register-box" class="register-box">
			<form id="coinone_recaptcha" method="post" action="/account/register/" class="form-horizontal coinone-signup-form ng-pristine ng-valid ng-valid-maxlength">
				<p class="box-title"> Register </p>
				<div class="alert alert-danger blinking_delay">
					<span class="glyph-ui-ban-circle"></span> This service is available to person <b>over 19 years old</b>.
				</div>
				<input type="hidden" name="csrfmiddlewaretoken" value="A3kvfqyFnlBSEsGs8xgo3lVXTq9ae3yRF4mTd5vjhHatvinZta4U7kSxy1isOyMZ">
				<div ng-controller="RegisterFormController as rfCtrl">
					<div class="control-group has-success has-feedback">
						<div class="controls">
							<input class="box_input enter-to-tab ng-pristine ng-valid ng-valid-maxlength ng-touched" type="text" name="emailID" placeholder="Email Address" autofocus="" maxlength="37" ng-model="rfCtrl.emailId" ng-keydown="rfCtrl.onEmailChange($event)" ng-paste="rfCtrl.onEmailChange($event)" ng-blur="rfCtrl.onBlurEmail()" style="">
							<span class="sr-only glyph-ui-check form-control-feedback"></span>
						</div>
					</div>
					<div class="control-group has-success has-feedback">
						<div class="controls">
							<input class="box_input enter-to-tab ng-pristine ng-untouched ng-valid" type="password" name="password" placeholder="Password" autocomplete="off" ng-model="rfCtrl.password">
							<span class="sr-only glyph-ui-check form-control-feedback"></span>
						</div>
					</div>
					<div class="control-group has-success has-feedback">
						<div class="controls">
							<input class="box_input enter-to-tab margin_bottom_0 ng-pristine ng-untouched ng-valid" type="password" name="password_repeat" placeholder="Password Confirm" autocomplete="off" ng-model="rfCtrl.passwordRepeat">
							<span class="sr-only glyph-ui-check form-control-feedback"></span>
						</div>
					</div>
					<div ng-show="rfCtrl.isValidEmail()" ng-controller="PasswordCheckerController as pcCtrl" class="ng-hide">
						<p id="pw_notice" class="register_notice_fade">
							Password is must contain
							<span id="cond_length">at least 10 characters,</span>
							<span id="cond_uppercase">upper case,</span>
							<span id="cond_lowercase">a lower case,</span>
							<span id="cond_number">and a number</span>.
						</p>
						<p id="cond_password_repeat" ng-hide="pcCtrl.isEqualToPasswordRepeat(rfCtrl.password, rfCtrl.passwordRepeat)" class="ng-hide">Password does not match.</p>
					</div>
				</div>
				<div class="checkbox-wrap">
					<div class="input-check-box check-all">
						<input type="checkbox" id="check-all">
						<label for="check-all">I agree with all of the following </label>
					</div>
					<ul class="check-list">
						<li class="check-item">
							<div class="input-check-box">
								<input type="checkbox" id="term_checkbox" name="term_checkbox">
								<label for="term_checkbox">
									Terms &amp; Policy (Required)
								</label>
							</div>
							<a href="/landing/terms/basic" target="_blank" class="view-txt-all">View more</a>
						</li>
						<li class="check-item">
							<div class="input-check-box">
								<input type="checkbox" id="terms_risk_checkbox" name="terms_risk_checkbox">
								<label for="terms_risk_checkbox">
									Privacy Policy (Required)
								</label>
							</div>
							<a href="/landing/privacy/current" target="_blank" class="view-txt-all">View more</a>
						</li>
						<li class="check-item">
							<div class="input-check-box">
								<input type="checkbox" id="terms_marketing_checkbox" name="marketing_agreement_checkbox">
								<label for="terms_marketing_checkbox">
									Receive Marketing Usage Guide <span class="check-option">(Optional)</span>
								</label>
							</div>
							<a href="/landing/privacy/current#marketing_policy" target="_blank" class="view-txt-all">View more</a>
						</li>
					</ul>
				</div>
				<input type="hidden" name="app_id" value="">
				<script src="https://funcaptcha.com/fc/api/?onload=loadFunCaptcha" async="" defer=""></script>
				<script type="text/javascript">
				function loadFunCaptcha() {
				new FunCaptcha({
				public_key: "BC62C960-E0AC-3DD7-EBF2-7708C06BCECC",
				target_html: "CAPTCHA",
				language: document.documentElement.lang,
				callback: function() {
				if(typeof funcaptchaChanged === 'function'){
				funcaptchaChanged();
				} else {
				$('input[type="submit"]').removeClass('disabled');
				}
				$('#CAPTCHA').height('0');
				$('#CAPTCHA_info').addClass('hidden');
				$('#CAPTCHA_done').removeClass('hidden');
				}
				});
				}
				</script>
				<div id="CAPTCHA_info" class="margin_top_20">
					<div class="alert alert-warning" role="alert"><span class="glyph-ui-info-fill"></span> &nbsp;Please complete the captcha below</div>
				</div>
				<div id="CAPTCHA_done" class="margin_top_20 hidden">
					<div class="alert alert-success" role="alert"><span class="glyph-ui-check-circle-fill"></span> &nbsp;CAPTCHA Verified</div>
				</div>
				<div class="form-actions">
					<input type="submit" id="register_confirm_button" class="btn btn-primary btn_expand margin_top_10 disabled" value="Register" tabindex="6" onclick="globalLoadingOn();">
				</div>
			</form>
		</div>
		
{% endblock %}