{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

<div class="wrapper">
   <div class="form_wrapper">
   	<h2 class="text-center">Sign In</h2>
<p class="text-center">Please check the website URL for your valuable information</p>


	    	<div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
	    	<div class="form-group">
			   <label for="exampleInputPassword1">Password</label>
			   <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div>
	    	<button class="btn btn-primary col-12">Log in</button>
    </div>
</div>
{% endblock %}
