body{
  background-color: #F8F8F9;
}

.logo_header img{
  height: 30px;
}

.exhcanger_row{
  justify-content: space-around;
}

.exchanger_block{
  width: 48%;
}
.exchanger-tabs{
  display: flex;
  text-align: center;
  line-height: 2;
  font-size: 20px;
  font-weight: bold;
}
.exhcanger_row{
  margin-top: 30px;
}
.exchanger-tabs .item{
  cursor: pointer;
  color:#e12343;
  width: 50%;
  padding: 10px 0;
}

.exchanger-tabs .item__blue{
    border-top: none;
    color:#1763b6;
}
.sell_btn{
  width: 100%;
}
.buy #order{
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgb(235, 240, 255) 75%);
}

#order{
  background: linear-gradient(to bottom, #ffffff 0%, #fff7f9 75%);
  border:1px solid #E8E8E8;
}
.order_wrp{
  padding: 10px;
}
.order_wrp div{
  margin-bottom: 10px;
}

.trade .trade-leyout {
  padding-top: 30px;
  padding-left: 5px;
  background: #FFF;
}
.menu_area .navbar{
  padding: 0;
}

.wrapper{
  margin-top: 25vh;
}

.form_wrapper{
  box-shadow: border-box;
  padding: 20px;
  background: #FFF;
  margin:0 auto;
  width: 450px;
  border-radius: 5px;
  border: 1px solid #d0d0d0;
}

#register-box{
  border:1px solid #d0d0d0;;
  width:500px;
  padding: 20px;
  margin: 100px auto;
  background:#FFF;
}
.box-title{
  margin: 0 0 16px;
  line-height: normal;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}
.header_btn{
  color:#FFF;
  border:1px solid #FFF;
  border-radius: 3px;
  padding: 3px;
  font-size: 15px;

  display: block;
}
a.header_btn:hover{
  color: #FFF;
  text-decoration: none;
  background: rgba(0,0,0,.3);
}

.register{
  color:#0DFF6F;
  border-color:#0DFF6F;
}
.sell .exchanger-tabs .item.sell_tab{
  border-top: 2px solid #e12343;
}
.buy .exchanger-tabs .item.buy_tab{
  border-top: 2px solid #1772F8;
}
.exchanger-tabs .item:after{
  position: relative;
}
.exchanger-tabs .item:after{
  top:-52px;
  left:0;
  content: "";
  display: block;
  width: 100%;
  height: 55px;
  background: rgba(150,150,150,.3);
}
.buy .sell_btn.btn, .sell .buy_btn.btn{
  display: none;
}
.buy .exchanger-tabs .item.buy_tab:after{
  display: none;
}
.sell .exchanger-tabs .item.sell_tab:after{
  display: none;
}
.buy .buy_btn.btn{
  display: block;
}
.sell .sell_btn.btn{
  display: block;
}