<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Trade center{% endblock %}</title>


        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}

            <!-- Favicon -->
            <link rel="icon" href="img/logo.ico">

            <!-- Core Stylesheet -->
            <link href="style.css" rel="stylesheet">

            <!-- Responsive CSS -->
            <link href="css/responsive.css" rel="stylesheet">


            <!-- Responsive CSS -->
            <link href="css/old.css" rel="stylesheet">

          <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <!-- Dev CSS -->
            <link href="build/repo_log.css" rel="stylesheet">

        {% endblock %}
    </head>
    <body
        {% block bodyclass %}
            class="page"
        {% endblock %}
    >
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12 col-lg-10">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand logo_header" href="#"><img src="img/logo.png" alt="logo"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ path('trade') }}">Exchange</a></li>
                                </ul>
                                <div class="sing-up-button d-lg-none">
                                    <a href="{{ path('sing_in') }}">Sign In</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <div class="col-12 col-lg-1 text-center">
                        <a class='header_btn'  href="{{ path('sing_in') }}">Sign In</a>
                </div>
                <div class="col-12 col-lg-1 text-center">
                        <a  class='header_btn register' href="{{ path('registration') }}">Registration</a>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-social-icon text-center section_padding_70 clearfix">
        <!-- footer logo -->

        <div class="footer-menu">
            <nav>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>

    </footer>


    <script src="{{ asset('build/repo_log.js') }}"></script>


    <!-- Jquery-2.2.4 JS -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="js/plugins.js"></script>
    <!-- Slick Slider Js-->
    <script src="js/slick.min.js"></script>
    <!-- Footer Reveal JS -->
    <script src="js/footer-reveal.min.js"></script>
    <!-- Active JS -->
    <script src="js/active.js"></script>
    </body>
</html>
